@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: none;
  overflow-x: none;
  background-color: black;
}

body::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y otros navegadores webkit */
}

